.attribution { 
    font-size: 11px; 
    text-align: center;
    font-size: 1rem; 
    color: hsl(228, 12%, 48%);
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.attribution a { 
    color: hsl(158, 36%, 37%);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (min-width: 800px) {
    .product-card {
    flex-direction: row;
    max-width: 700px;
    }
    .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
    .product-details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    }
}
@media (max-width: 800px) {
    .product-card {
    flex-direction: column;
    width: 370px;
    }
    .product-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    .product-details {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    }
}
.product-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
}
.product-category {
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    margin: 0;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}
.product-name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2rem;
}
.product-description {
    font-size: 0.875rem;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.product-pricing {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    margin-top: auto;
}
.current-price {
    font-size: 1.5rem;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    margin-right: 1rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2rem;
}
.original-price {
    font-size: 0.875rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.add-to-cart-button {
    width: 100%;
    padding: 1rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}
.add-to-cart-button span {
    vertical-align: middle;
    margin-right: 0.5rem;
}
.add-to-cart-button:hover {
    background-color: hsl(158, 42%, 18%);
}